@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
header {
    align:center;
    font-family: 'Righteous', cursive;
}

h1{
    background-image: url(../img/fondotitulo.jpg);
    background-repeat: repeat;
    font-family: 'Righteous', cursive;
    text-transform:capitalize;
    font-size: 35px;
    text-align: center;
    border-radius: 12px;
    padding-inline: 5%;
    padding-block: 1%;

}

/* selector de clase */
.tituloSeccion{
    background-image: linear-gradient(to right, rgb(0, 242, 255) , rgb(134, 178, 93));;
    font-family: 'Righteous', cursive;
    text-transform:uppercase;
    font-size: 20px;
    padding: 1%;
}

.personales{
    background-color: rgb(251, 251, 251);
    font-family: 'Righteous', cursive;
    background-image: url(../img/foto.png);
    background-repeat: no-repeat;
    background-size:7%;
    background-position:right center;
    border-radius: 15px;
    margin: 5%;
    padding-block-end: 4%;
    
}

.experiencia{
    background-color: rgb(251, 251, 251);
    font-family: 'Righteous', cursive;
    border-radius: 15px;
    margin: 5%;
    padding-block-end: 4%;
}

footer{
    font-family: 'Righteous', cursive;
    text-transform:uppercase;
    background-color:#8dc575;
    text-align: center;
}
body{
    background-color: rgb(151, 210, 246);
}
